body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.deleteBtn {
    float: right;
    background-color: red;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
